.inputWithIcon{
  position: relative;
}
.inputWithIcon input[type="text"]{
  padding-left: 40px;
}
.inputWithIcon input[type="password"]{
  padding-left: 40px;
}
.inputWithIcon i{
  position: absolute;
  top:11px;
  left:6px;
  padding:6px;
  color:#ccc;
}
